
<div>
    <h1>{{ title }}</h1>
    <label>Inserte el primer número</label>
    <input 
        type="number" 
        id="number1"
        placeholder="0"
        name="number1"
        [(ngModel)]="number1"
    >
    <label>Inserte el segundo número</label>
    <input 
        type="number" 
        id="number2"
        placeholder="0"
        name="number2"
        [(ngModel)]="number2"
    >
    <button (click)="onMultiply()">Multiplicar</button>
    <p>El resultado de la operación es: {{ result }}</p>
</div>